node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity
.env*
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.idea
.vscode
*.swp
*.swo
*~
dist
build
.DS_Store
*.log
logs