# APP LISTEN ON
PORT_APP=9002

# SECRET KEYS
API_KEY_ENCRYPTION_KEY=<encryption-key-at-least-32-characters>

# PARAMETROS
AUDIT_MAX_SYNC_IMPACTS=10

# API KEY INTERNAL
API_KEY_INTERNAL=<backoffice-internal-api-key>
INTERNAL_HTTP_TIMEOUT_MS=5000

# CORE CONNECTION
API_KEY_INTERNAL_CORE=<core-internal-api-key>
API_URL_INTERNAL_CORE=http://localhost:9000

# ACCOUNTING CONNECTION
API_KEY_INTERNAL_ACCOUNTING=<accounting-internal-api-key>
API_URL_INTERNAL_ACCOUNTING=http://localhost:9001

# DB - MAIN
DB_HOST_ADDRESS=localhost
DB_PORT=5432
DB_NAME=<database-name>
DB_USER_NAME=<database-user>
DB_PASSWORD=<database-password>
DB_SYNC_MODE=false

# REDIS - MAIN
REDIS_HOST=localhost
REDIS_PORT=5200
REDIS_PWD=<redis-password>

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<aws-secret-access-key>
AWS_S3_BUCKET_NAME=<aws-s3-bucket-name>

# AUTH0
AUTH0_DOMAIN=<auth0-domain>
AUTH0_CUSTOM_DOMAIN=<auth0-custom-domain>
AUTH0_AUDIENCE=<auth0-audience>

# MAILER
MAILER_HOST_ADDRESS=http://localhost:7701
MAILER_API_KEY=<mailer-api-key>

#OPENAI
OPENAI_API_KEY=#
OPENAI_MODEL="gpt-4.1-mini"
RUT_PDF_MAX_MB=10
